{% extends "base.html" %}

{% block links %} 
    <link href= "{{ url_for('chat.static', filename='css/style.css')}}">
{% endblock %}

{% block aboba %}
    <!-- Егор. Создать контейнер с параграфом внутри -->
    <div>
        <p>Днепр</p>
    </div>

    <!-- Назар.  Создать параграф с любім текстом -->
    <p>Chargoggagoggmanchauggagoggchaubunagungamaugg</p>
    <!-- Создать ссылку -->
    <a href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEedBMuaHImZBADRQsa5r77QKaPicnIFagb9ajPp-l6Rnx4WibzAxVn9tQ&s=10">Free robux</a>
{% endblock %}
